# Ignorar directorios y archivos de construcción
target/
build/

# Ignorar archivos de configuración del IDE
.idea/
.vscode/
*.iml

# Ignorar archivos de Maven
.mvn/
*.mvn/

# Ignorar dependencias descargadas por Maven (en caso de usar un cache)
.gradle/
node_modules/

# Archivos de logs generados por el sistema
*.log

# Ignorar archivos de prueba
*.test/
*.tmp/
*.bak

# Ignorar configuraciones de entorno específicas (como .env)
.env

# Ignorar archivos de paquetes específicos
*.tar
*.zip

# Archivos de control de versiones
.git/
.gitignore
.svn/
.hg/
